body {
  
  font-size: 16px;
  color: #c2492f;
  background-color: #ffb3b3;
  font-family: 'Oxygen', sans-serif;
  
}

/** HEADER **/
#header-nav {
  background-color: #ff8080;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
  padding-left: 0px;
 
}



.navbar-brand h1 { /* Restaurant name */
  
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  float: left;  
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#nav-list {
  margin-top: 5px;
  float: right;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



/* Section */
#top {
  margin-bottom: 30px;
  
}

.row {
  
  position: relative;
  float: left;

}

.row > div > article {
  background-color: #ffcdcd;
  border: #ff8080;
  border-style: ridge;
  text-align: justify;
  margin-bottom: 20px;
  padding: 12px;
  color: black;
}


/* End Section */


